{{import_globals}}
<div class="component-ableplayer-inner">
	{{> component this}}
	<script src="..libraries/js.cookie.js"></script>
	<script src="..libraries/build/ableplayer.js"></script>
	<link rel="stylesheet" href="../less/ableplayer.min.css" type="text/css"/>


<video class="ableplayer" preload="auto" width="480" height="360" poster="{{_media.poster}}" data-able-player data-skin="2020" playsinline>
	{{#if _media.mp4}}
	<source type="video/mp4" src="{{_media.mp4}}"/>
	{{/if}}
	
	{{#if _useClosedCaptions}}
        {{#each _media.cc}}
		<track kind="captions" src="{{src}}" srclang="{{srclang}}" label="WEEEEE"/>
		{{/each}}
    {{/if}}
</video>
</div>